@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
}
footer{
    padding: auto;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgba(55, 55, 55);
    width: 100%;
    height: 180px;
    justify-content: center;
}
.media-controls{
    width: 90%;
    padding-top: 10px;
}
.g1{
display: flex;
flex-wrap: nowrap;
width: 100%;
justify-content: center;
}
#play-pause{
    border: none;
    border-radius: 50%;
    background: none;
    font-size: 64px;
    text-align: center;
    color: white;
}
#play-pause:hover{
    color: rgb(200, 200, 200);
}
#mute{
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    padding-left: 15px;
}
#mute:hover{
    color: rgb(200, 200, 200);
}
#current-time{
    color: white;
    padding: 20px;
    padding-right: 50px;
    font-size: large;
}
#duration {
    color: white;
    padding: 20px;
    padding-left: 50px;
    font-size: large;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px;
    padding: 50px;
    padding-bottom: 500px;
  }
  .EternalAtake{
    background-image: url(EternalAtake.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .LuvIsRage{
    background-image: url(LuvIsRage.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .song{
    background-color:rgba(0, 0, 0, 0.25);
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.7);
    height: 300px;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px;
  }
  .song h1{
    color: #fff;
    font-weight: 900;
    font-size: 54px;
    text-align: center;
    padding-top: 80px;
    padding-left: 15px;
  }
  .song .bi{
    color: white;
    margin: 20px;
    align-items: center;
  }
  .song:hover{
    background-color:rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.80);
    margin-left: 35px;
    margin-top: 35px;
    margin-right: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
    color: rgb(200, 200, 200);
  }
  .song:hover h2{
    color: rgb(33, 32, 32);
  }
  .seek-bar-div{
    width: 100%;
  }
  .seek-bar-div input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 2px;
  }
  .seek-bar-div input[type=range]:focus {
    outline: none;
  }
  .seek-bar-div input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    background: rgb(255,73,254);
background: linear-gradient(138deg, rgba(255,73,254,1) 0%, rgba(164,0,57,1) 80%);
  }
  .seek-bar-div input[type=range]::-webkit-slider-runnable-track:hover{
    transform: scaleY(3);
    transition: 0.3s;
  }
  .seek-bar-div input[type=range]::-webkit-slider-thumb {
    height: 8px;
    width: 8px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .seek-bar-div input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(255,73,254);
background: linear-gradient(138deg, rgba(255,73,254,1) 0%, rgba(164,0,57,1) 80%);
border-radius: 1.3px;
  }
  .seek-bar-div input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    background: #3071a9;
    border-radius: 1.3px;
  }
  .seek-bar-div input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  .seek-bar-div input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .seek-bar-div input[type=range]::-ms-fill-lower {
    background: #2a9567;
    border-radius: 2.6px;
  }
  .seek-bar-div input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border-radius: 2.6px;
  }
  .seek-bar-div input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  .seek-bar-div input[type=range]:focus::-ms-fill-lower {
    background: #367ebd;
  }
  .seek-bar-div input[type=range]:focus::-ms-fill-upper {
    background: #36bd6e;
  }